*{
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #070707;
}

body{
    background-color: #101014;
}

footer{
    background-color: #18181C;
}
footer p, button{
    color: #FFFFFF59;
}
footer a{
    /* color: #FFFFFF; */
    text-decoration: none;
    color: #FFFFFF99;
}
footer button{
    border-color: #FFFFFF59;
    background-color: #18181C;
    border-radius: 15%;
    /* height: 40px; */
}
/* footer button img{
    width: 20px;
    height: 20px;

} */
