*{
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #070707;
}

body{
    background-color: #101014;
}

footer{
    background-color: #18181C;
}
footer p, button{
    color: #FFFFFF59;
}
footer a{
    text-decoration: none;
    color: #FFFFFF99;
}
footer button{
    border-color: #FFFFFF59;
    background-color: #18181C;
    border-radius: 15%;
}
.iconoRedSocial{
    width: 48px;
    height: 32px;
    margin-left: 10px;
}
.svg24{
    width: 24px;
    height: 24px;
}
.svg32{
    width: 32px;
    height: 32px;
}


/* CSS per a Home */

#sector_productes_setmana div img{
    height: 65px;
    border-radius: 30%;
}