*{
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #070707;
}

body{
    background-color: #101014;
}

footer{
    background-color: #18181C;
}
footer p, button{
    color: #FFFFFF59;
}
footer a{
    text-decoration: none;
    color: #FFFFFF99;
}
footer button{
    border-color: #FFFFFF59;
    background-color: #18181C;
    border-radius: 15%;
}
.iconoRedSocial{
    width: 40px;
    height: 40px;
}
